$bgColor = rgba(245, 73, 73, 0.878)
$swiper-pagination-bullet-active =  #e8a2a2
$darkTextColor = #F5F4FO
$box-shadow = .1rem .1rem .2rem #888
$bgColorFirst = #DE426B
$bgColorSecond = #F46D90
$bgColorThird = #06a070
$bgColorFourth  = rgb(244,109,144)
$bgColorFifth = rgb(222,66,106)
$bgColorLinearGradient = linear-gradient(rgb(247, 241, 241), #F46D90)